{% extends 'layout.html' %}
{% block body %}
<script >
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
</script>

<form method="POST" action="/data">
    <br />
    <div class="container">
        <h1>Select the type of appointment</h1>
       <div class="row">
            <!--<div class="col-md-1"></div>-->
            <div class="col-md-5">
                <a href="/view_calendar/walk_in">
                    <div class="option-button option-button-create unfade">
                        <span class="glyphicon glyphicon-pencil blank-icon"></span>
                        <span> Walk-in </span>
                    </div>
                </a>
            </div>
            <div class="col-md-5">
                <a href="/view_calendar/annual">
                    <div class="option-button option-button-personal unfade">
                        <span class="glyphicon glyphicon-info-sign blank-icon"></span>
                        <span> Annual </span>
                    </div>
                </a>
            </div>
            <!--<div class="col-md-1"></div>-->
        </div>
    </div>
</form>
<div class="footer-push"></div>
{% endblock %}