<div class="dashboard-profile">
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <img class="profile-picture" src="/static/img/silouhette.png">
        </div>
        <div class="col-md-9">
            <span class="welcome-msg"> Hello {{ session.first_name }}, Welcome to UberSanté! </span>
            <br>
            <br>
            <span class="upcoming-msg">You have <span class="upcoming-appointments">8</span> upcoming appointments with patients.</span>
        </div>
    </div>
    <br>
</div>
<br>
<div class="container">
    <h1>Doctor Dashboard</h1>
    <hr>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <a href="#">
            <div class="option-button option-button-view unfade">
                <span class="glyphicon glyphicon-file blank-icon"></span>
                <span> View My Patient Apointments </span>
            </div>
        </a>
    </div>
    <div class="col-md-5">
        <a href="#">
            <div class="option-button option-button-update unfade">
                <span class="glyphicon glyphicon-open-file blank-icon"></span>
                <span> Complete/Update Schedule </span>
            </div>
        </a>
    </div>
    <div class="col-md-1"></div>
</div>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <a href="#">
            <div class="option-button option-button-create unfade">
                <span class="glyphicon glyphicon-pencil blank-icon"></span>
                <span> Enter New Appointments </span>
            </div>
        </a>
    </div>
    <div class="col-md-5">
        <a href="#">
            <div class="option-button option-button-personal unfade">
                <span class="glyphicon glyphicon-info-sign blank-icon"></span>
                <span> Update Personal Info </span>
            </div>
        </a>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="footer-push"></div>