{% extends 'layout.html' %}
{% block body %}
{% block form %}
<br/>
<div class="container">
    <h2>Edit Patient</h2>
    {% from "includes/_form_helpers.html" import render_field %}
    <form method="POST" action="/edit/patient">
        <div class="form-group">
            {{render_field(form.email, class_="form-control", placeholder="example: alice@bob.com")}}
        </div>
        <div class="form-group">
            {{render_field(form.first_name, class_="form-control", placeholder="example: Alice")}}
        </div>
        <div class="form-group">
            {{render_field(form.last_name, class_="form-control", placeholder="example: Abernathy")}}
        </div>
        <div class="form-group">
            {{render_field(form.health_card, class_="form-control", placeholder="example: ABCD 1234 5678")}}
        </div>
        <div class="form-group">
            {{render_field(form.phone_number, class_="form-control", placeholder="example: (514) 555-1234")}}
        </div>
        <div class="form-group">
            {{render_field(form.birthday, class_="form-control", placeholder="example: MM/DD/YY")}}
        </div>
        <div class="form-group">
            {{render_field(form.gender, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.physical_address, class_="form-control", placeholder="example 123 Main Street, Montreal, Quebec, M1NU1T")}}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Save" />
            <input type="reset" class="btn btn-warning" value="Reset" />
            <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="goBack()">
            Cancel
         </button>
        </div>

      <script>
        function goBack() {
          window.history.back();
        }
      </script>
    </form>
</div>
<div class="footer-push"></div>
{% endblock %}
{% endblock %}

