{% extends 'layout.html' %}
{% block body %}
{% block form %}
<br/>
<div class="container">
    <h2>Edit Doctor</h2>
    {% from "includes/_form_helpers.html" import render_field %}
    <form method="POST" action="/edit/doctor">
        <div class="form-group">
            {{render_field(form.first_name, class_="form-control", placeholder="example: Alice")}}
        </div>
        <div class="form-group">
            {{render_field(form.last_name, class_="form-control", placeholder="example: Abernathy")}}
        </div>
        <div class="form-group">
            {{render_field(form.permit_number, class_="form-control", placeholder="example: 1234567")}}
        </div>
        <div class="form-group">
            {{render_field(form.specialty, class_="form-control", placeholder="example: Family Doctor")}}
        </div>
        <div class="form-group">
            {{render_field(form.city, class_="form-control", placeholder="example: Montreal")}}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Save" />
            <input type="reset" class="btn btn-warning" value="Reset" />
            <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="goBack()">
            Cancel
         </button>
        </div>

      <script>
        function goBack() {
          window.history.back();
        }
      </script>
    </form>
</div>
<div class="footer-push"></div>
{% endblock %}
{% endblock %}

