    <footer class="footer">
    <div class="container">
        <div class="row">
        <div class="col-sm-9">
            <h4 class="title">UberSanté</h4>
            </div>
        <div class="col-sm-3">
            <h4 class="title">Github</h4>
            <a href="https://github.com/dfeokti/soen344w19">SOEN 344 - W19</a>
            </div>
        </div>
        <hr>
        
        <div class="row text-center"> © 2019. Made by TicTacTeam</div>
        </div>
        
        
    </footer>