<div class="row container centered">
    <fieldset class="account-border">
        <legend class="account-border">Select An Account Type To login:</legend>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="col-md-12 account-box">
                    <h4>Patient</h4>
                    <p> Create, view or update appointments yourself.</p>
                    <button type="button" class="btn btn-primary" onclick="location.href = 'login/patient';">Login Now</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="col-md-12 account-box">
                    <h4>Doctor</h4>
                    <p> Set availability or view scheduled appointments. </p>
                    <button type="button" class="btn btn-primary" onclick="location.href = 'login/doctor';">Login Now</button>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="account-box">
                    <h4>Nurse</h4>
                    <p> Create, view or update appointments for patients. </p>
                    <button type="button" class="btn btn-primary" onclick="location.href = 'login/nurse';">Login Now</button>
                </div>
            </div>
        </div>
    </fieldset>
</div>