{% extends 'layout.html' %}

{% block body %}
<script >
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
</script>

<div class="container">
<h1>Nurse registry</h1>
<hr>
    <a class="btn btn-success" href="/add_appointment">Add Appointment</a>
    <br/>
    <br/>
    <table id="myTable" class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Access ID</th>
            <th scope="col">Modify</th>
        </tr>
        </thead>
        <tbody>
        {% for x in all_nurses %}
        <tr>
            <td>{{x.first_name}}</td>
            <td>{{x.last_name}}</td>
            <td>{{x.access_id}}</td>
            <td><input class="btn btn-primary" type="submit" value="Modify" href="/dashboard/nurse"></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
