{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Information</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
                <tr>
                  <td>First Name</td>
                  <td>{{nurse.first_name}}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                  <td>{{nurse.last_name}}</td>
                </tr>
                <tr>
                    <td>Access ID</td>
                  <td>{{nurse.access_id}}</td>
                </tr>
              </tbody>
        </tbody>
    </table>
</div>
<div class="footer-push"></div>
{% endblock %}
