{% extends 'layout.html' %}

{% block body %}
<br/>
<div>
    <iframe src="https://player.vimeo.com/video/329937855?autoplay=1&loop=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <div>
        <h1 id="login-title">Uber Santé is a service which allows you to connect with various clinics and book an appointment with professionals.</h1>

        <h3>Patients</h3>
        <ul>
            <li><p>Registration is as simple as filling out a form and clicking Submit! Made a mistake? No worries, your information can be corrected by the professionals in charge of the web-site.</p></li>
            <li><p>Booking is done through a convenient calendar view to make sure you get the correct appointment slot and plan our your visit easier. </p></li>
            <li><p>Appointments are stored in a shopping cart, which automatically prevents you from booking conflicting times, or booking two annual appointments in the space of a year.</p></li>
            <li><p>Need to book appointments at multiple clinics? No problem, as long as these clinics are using the UberSanté service.</p></li>
            <li><p>Receipts can be saved to a PDF file, to save you the trouble of printing out a webpage.</p></li>
        </ul>

        <h3>Nurses</h3>
        <ul>
            <li><p>Nurses are the system administrators of UberSanté, booking appointments, adjusting schedules and modifying profile information. </p></li>
        </ul>

        <h3>Doctors</h3>
        <ul>
            <li><p>Making a weekly schedule uses a calendar view and draggable appointments, saving time for more important things, such as seeing patients. </p></li>
            <li><p>Need to modify a single week? The system supports that too, simply adjust the week's schedule without affecting the rest of the schedule.</p></li>
        </ul>

        <h3>Contact</h3>
        <p>This system was designed by the Tic Tac Team! Want to find out how you can use this system for your business? Contact us today!  </p>
        <blockquote>"Good health and good sense are two of life's greatest blessings. - Publilius Syrus"</blockquote>
    </div>
</div>
<br/>
{% endblock %}
