{% extends 'layout.html' %}

{% block body %}
<br/>
<div>
    <iframe src="https://player.vimeo.com/video/329937855?autoplay=1&loop=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <div>
        <h1 id="login-title">Uber Santé is a service which allows you to connect with various clinics and book an appointment with professionals.</h1>
        <h2>"Good health and good sense are two of life's greatest blessings. - Publilius Syrus"</h2>
    </div>
</div>
<br/>
{% endblock %}
