{% extends "layout.html" %}

{% block title %}Selected Appointment{% endblock %}

{% block body %}
<br/>
<div class="container">
  <h1>Appointment details</h1>
  <br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Clinic name</th>
          <th scope="col">Fill in clinic name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Clinic address</th>
          <td>Address of the clinic</td>
        </tr>
        <tr>
          <th scope="row">Type of appointment</th>
          <td>Specialty</td>
        </tr>
          <tr>
          <th scope="row">Date</th>
          <td>Day to be filled in</td>
        </tr>
        <tr>
          <th scope="row">Start time</th>
          <td>Appointment start time</td>
      </tbody>
    </table>

  <br/>

  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
    Book appointment
  </button>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="goBack()">
    Cancel
  </button>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</div>
{% endblock %}