{% extends "layout.html" %}

{% block title %} Example Calendar {% endblock %}

{% block head %} 
    <link rel='stylesheet' href='../static/css/fullcalendar.css'/>
    <script src='../static/js/jquery331.js'></script>
    <script src='../static/js/moment.js'></script>
    <script src='../static/js/jquery.min.js'></script>
    <script src='../static/js/moment.min.js'></script>
    <script src='../static/js/fullcalendar.js'></script>
    <script src='../static/js/fullcalendaroptions.js'></script>
{% endblock %}

{% block body %}
    <div id='calendar'></div> 
{% endblock %}