{% extends 'layout.html' %}

{% block body %}
    <br />
    <div class="container">
        <div class="main-content">
            <h1>Appointment Cart</h1>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="table-primary d-flex">
                        <th scope="col" class="col-4">Clinic</th>
                        <th scope="col" class="col-2">Type</th>
                        <th scope="col" class="col-2">Start Time (local)</th>
                        <th scope="col" class="col-2">Status</th>
                        <th scope="col" class="col-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_id in items %}
                        <tr class="d-flex">
                            <td class="col-4">{{items[item_id].clinic.name}}</td>
                            <td class="col-2">{{items[item_id].is_walk_in}}</td>
                            <td class="col-2">{{items[item_id].start_time}}</td>
                            <td class="col-2">{{items[item_id].is_booked}}</td>
                            <td class="col-2"><button type="button" class="btn btn-danger">Remove</button></td>
                        </tr>
                    {% endfor %}
                    <tr class="d-flex">
                        <td class="col-4">Clinique Mtl</td>
                        <td class="col-2">Walk-in</td>
                        <td class="col-2">4:00</td>

                        <td class="col-2"><button type="button" class="btn btn-danger">Remove</button></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" type="button" onclick="checkout()">Checkout cart</button>
            <script>
                function checkout() {
                    $.ajax({
                        url: '/checkout',
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        success : function(data){
                            window.location.href = data['url']
                        }
                    });
                }
            </script>
        </div>
        <div class="footer-push"></div>
    </div>
{% endblock %}
