{% extends 'layout.html' %}

{% block body %}

	<div class="banner-text">
		<h1 class="page-title">UberSanté</h1>
		<h2 class="page-subtitle">Need to see a doctor? We are here to help!</h2>
	</div>

	<div class="parallax"></div>

	{% if not session.logged_in %}
	<div class="cover">
		<div class="container">
			<span id="login-title">Welcome to UberSanté!</span>
			<hr>
			{% include 'includes/_login_choice_component.html' %}

			<div class="row container">
				<fieldset class="account-border">
					<legend class="account-border">First Time? Select An Account Type to Get Started:</legend>
					<div class = "row">
						<div class="col-sm-6 col-md-4">
							<div class="col-md-12 account-box">
								<h4>Patient</h4>
								<p> Create, view or update appointments yourself.</p>
								<button type="button" class="btn btn-primary" onclick="location.href = '/register/patient';">Register Now</button>

							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="col-md-12 account-box">
								<h4>Doctor</h4>
								<p> Set availability or view scheduled appointments. </p>
								<button type="button" class="btn btn-primary" onclick="location.href = '/register/doctor';">Register Now</button>
							</div>
						</div>

						<div class="col-sm-6 col-md-4">
							<div class="account-box">
								<h4>Nurse</h4>
								<p> Create, view or update appointments for patients. </p>
								<button type="button" class="btn btn-primary"  onclick="location.href = '/register/nurse';">Register Now</button>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<hr>
		</div>
	</div>
	{% endif %}

{% endblock %}
