{% extends 'layout.html' %}


    {% block body %}

    <div class="parallax"></div>

    <div class="cover">
        <br>
        <div class="container">
            <span id="login-title">Welcome to UberSanté!</span>
            <hr>
            <div class="row container">
                <fieldset class="account-border">
                    <legend class="account-border">Select An Account Type To login:</legend>
                    <div class = "row">
                        <div class="col-sm-6 col-md-4">
							<div class="col-md-12 account-box">
								<h4>Patient</h4>
								<p> Create, view or update apointments yourself.</p>
								<button type="button" class="btn btn-primary">Login Now</button>

							</div>
						</div> <!-- End Col -->
						<div class="col-sm-6 col-md-4">
								<div class="col-md-12 account-box">
								<h4>Doctor</h4>
								<p> Set availability or view scheduled apointments. </p>
							    <button type="button" class="btn btn-primary">Login Now</button>
							</div>
						</div> <!-- End Col -->	
						
						<div class="col-sm-6 col-md-4">
								<div class="account-box">
								<h4>Nurse</h4>
								<p> Create, view or update apointments for patients. </p>
							    <button type="button" class="btn btn-primary">Login Now</button>
							</div>
						</div> <!-- End Col -->
                    </div>
                </fieldset>
            </div>

            <div class="row container">
                <fieldset class="account-border">
                    <legend class="account-border">First Time? Select An Account Type to Get Started:</legend>
                    <div class = "row">
                        <div class="col-sm-6 col-md-4">
							<div class="col-md-12 account-box">
								<h4>Patient</h4>
								<p> Create, view or update apointments yourself.</p>
								<button type="button" class="btn btn-primary">Register Now</button>

							</div>
						</div> <!-- End Col -->
						<div class="col-sm-6 col-md-4">
								<div class="col-md-12 account-box">
								<h4>Doctor</h4>
								<p> Set availability or view scheduled apointments. </p>
							    <button type="button" class="btn btn-primary">Register Now</button>
							</div>
						</div> <!-- End Col -->	
						
						<div class="col-sm-6 col-md-4">
								<div class="account-box">
								<h4>Nurse</h4>
								<p> Create, view or update apointments for patients. </p>
							    <button type="button" class="btn btn-primary">Register Now</button>
							</div>
						</div> <!-- End Col -->
                    </div>
                </fieldset>
            </div>
            <hr>
        </div>
    </div>

    {% endblock %}
