{% extends 'layout.html' %}

{% block body %}

	<div class="banner-text">
		<h1 class="page-title">UberSanté</h1>
		<h2 class="page-subtitle">Need to see a doctor? We are here to help!</h2>
	</div>

	<div class="parallax"></div>

	{% if not session.logged_in %}
	<div class="cover">
		<div class="container">
			<span id="login-title">Welcome to UberSanté!</span>
			<hr>
			{% include 'includes/_login_choice_component.html' %}

			{% include 'includes/_register_choice_component.html' %}
			<hr>
		</div>
	</div>
	{% endif %}

{% endblock %}
