{% extends 'layout.html' %}

{% block body %}
<div class="container">
<h1>Nurse Dashboard!!!</h1>
<h3>Welcome {{session.first_name}}</h3>
<hr>
    <a class="btn btn-success" href="/add_appointment">Add Appointment</a>
    <br/>
    <br/>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <!--<th scope="col">#</th>-->
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Health card</th>
            <th scope="col">Phone number</th>
            <th scope="col">Birthday</th>
            <th scope="col">Gender</th>
            <th scope="col">Physical Address</th>
        </tr>
        </thead>
        <tbody>
        {% for x in all_patients %}
        <tr>
            <!--<td>{{x.id}}</td>-->
             {% for y in all_users %}
                {% if x.user_fk == y.id %}
                    <td>{{y.first_name}}</td>
                    <td>{{y.last_name}}</td>
                {% endif %}
            {% endfor %}
            <td>{{x.email}}</td>
            <td>{{x.health_card}}</td>
            <td>{{x.phone_number}}</td>
            <td>{{x.birthday}}</td>
            <td>{{x.gender}}</td>
            <td>{{x.physical_address}}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
